body {
  background-color: #222;
  border-top: 2px solid #ff5500;
  font-family: "Roboto", sans-serif;
  font-style: 400; }
  body a {
    color: #ff5500; }
    body a:hover {
      color: #fdddcd; }
  body header {
    background-color: transparent;
    color: #efefef; }
    body header h1 {
      font-size: 2em; }
    body header .custom-logo-link {
      display: inline-block; }
      body header .custom-logo-link img {
        width: 1em;
        height: 1em; }
  body main {
    background-color: #efefef; }
    body main .gallery-card {
      background-color: #fff;
      margin-top: 1em; }
      body main .gallery-card .slick {
        background-color: #222;
        margin: 0.8em 0; }
        body main .gallery-card .slick img {
          display: block; }
        body main .gallery-card .slick .slick-dots {
          bottom: 1em; }
      body main .gallery-card h6 {
        font-weight: 700;
        padding: 1em 0;
        font-size: 1.15em; }
    body main .card > .row .column img {
      height: 25rem;
      min-height: 25rem;
      max-height: 25rem; }
  body footer {
    color: #efefef; }

.orbit, .orbit-wrapper, .orbit-container, .orbit-image {
  height: 16.5rem;
  min-height: 16.5rem;
  max-height: 16.5rem; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .card {
    position: relative; }
    .card .card-divider {
      position: absolute;
      top: 0;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
      /* IE6-9 */
      color: #fff;
      z-index: 2;
      width: 100%; } }

/*# sourceMappingURL=app.css.map */
